<shared-header [title]="title"></shared-header>


<div class="container">
  <div class="container d-flex" >
    <div class="me-4">
      <label for="" class="d-flex text-secondary fs-6">Nombre del afiliado</label>
      <input type="tex" class=" border-top-0 border-end-0 border-start-0 border-bottom-2"><i class="bi bi-person-plus"></i>
    </div>
    <div class="me-4">
      <label for="" class="d-flex text-secondary fs-6">Edad</label>
      <input type="number" class=" border-top-0 border-end-0 border-start-0 border-bottom-2"><i class="bi bi-calendar-date"></i>
    </div>
    <div class="me-4">
      <label for="" class="d-flex text-secondary fs-6">Email</label>
      <input type="email" class=" border-top-0 border-end-0 border-start-0 border-bottom-2"><i class="bi bi-envelope"></i>
    </div>
</div>

    <div class="container d-flex justify-content-end">
      <button type="submit" class="btn btn-primary me-3">Guardar</button>
      <button class="btn btn-danger">Cancelar</button>
    </div>
